<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--다른페이지에 포함 시킬 영역을 th:fragment로 선언해줍니다. header 영역을 fragment로 지정합니다. -->
<div class="header_wrapper" th:fragment="header">

    <nav id="navbar_wrapper" class="navbar bg-body-tertiary">
        <!-- form class의 action 태그의 주소를 설정하고, 방식은 get 방식으로 설정 한다 -->
        <form id="navbar_box" class="container-fluid justify-content-start" th:action="@{/}" method="get">
            <a id="home_btn" href="/" class="btn btn-outline-success me-2" type="button" data-toggle="collapse"
            data-target="#navbarToggle" aria-controls="navbarToggle"
             aria-expanded="false" aria-label="Toggle navigation">홈</a>
            <div class="navbarToggle" id="navbarToggle">
                <ul class="navbar_menu_box">
                    <li class="navbar_menu" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a href="/admin/item/new" class="btn btn-sm btn-outline-secondary" type="button" >상품 등록</a>
                    </li>
                    <li class="navbar_menu" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a href="/admin/items" class="btn btn-sm btn-outline-secondary" type="button" >상품 관리</a>
                    </li>
                    <li class="navbar_menu" sec:authorize="isAuthenticated()">
                        <a href="/cart" class="btn btn-sm btn-outline-secondary" type="button" >장바 구니</a>
                    </li>
                    <li class="navbar_menu" sec:authorize="isAuthenticated()">
                        <a href="/orders" class="btn btn-sm btn-outline-secondary" type="button" >구매 이력</a>
                    </li>
                    <li id="login" sec:authorize="isAnonymous()">
                        <a href="/members/login" class="btn btn-sm btn-outline-secondary" type="button" >로그인</a>
                    </li>
                    <li class="navbar_menu" sec:authorize="isAuthenticated()">
                        <a href="/members/logout" class="btn btn-sm btn-outline-secondary" type="button" >로그아웃</a>
                    </li>

                </ul>
            </div>
        </form>
    </nav>
</div>

</html>